.create-form {
  background: #f8f8f8;
  min-height: 90vh;
  padding-top: 10vh;
}

/*
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
*/

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
