@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');
.sign-in {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    background-color: #f8f8f8;
}

.form-box {
    width: 30%;
    min-width: 360px;
    min-height: 50vh;
    vertical-align: middle;
    overflow: auto;
    margin: auto;
    padding: 15px;
    position: relative;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}

.header {
    margin: 0 0 15px 0;
    font-family: Rosario;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.new-account {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    margin-top: 15px;
}

.back {
    text-align: left;
    vertical-align: middle;
}

.redirect-home {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}