.response-form {
  background: #f8f8f8;
  min-height: 90vh;
  padding-top: 10vh;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-title {
  font-size: 25pt;
  margin-bottom: 10px;
}
