.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f8f8;
  min-height: 100vh;
  color: #2b2b2b;
}

.message {
  font-size: 25px;
}
