.question-box {
  position: relative;
  width: 540px;
  min-height: 180px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding-bottom: 15px;
}

.required-btn {
  text-align: right;
  padding-top: 5px;
  padding-right: 30px;
}

.footer-box {
  position: relative;
  margin-bottom: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
}

.option {
  display: flex;
  flex-direction: row;
}

.option-input {
  margin-left: 10%;
}

.footer-btns {
  position: absolute;
  right: 30px;
  bottom: -10px;
}
