.nav {
  background: var(--main-color);
  height: 55px;
  width: 100vw;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
}

.nav-left {
  display: flex;
  flex: 50%;
  justify-content: flex-start;
}

.nav-right {
  display: flex;
  flex: 50%;
  justify-content: flex-end;
}

.nav-icon {
  margin-left: 1rem;
  font-size: 21px;
  height: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-icon-close {
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 150px;
  font-size: 2rem;
  height: 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-btn-language {
  margin-right: 1rem;
  font-size: 21px;
  height: 25px;
  align-items: center;
  cursor: pointer;
}

.sidebar-btn {
  display: flex;
  color: #000;
  background: #f2f2f2;
  align-items: center;
  justify-content: center;
  list-style: none;
  height: 50px;
  width: 225px;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 15px;
}

.current {
  background: var(--nav-btn-current);
}

.sidebar-btn:hover {
  background: var(--nav-btn-hover);
  cursor: pointer;
  text-decoration: none;
}

.sidebar-btn-icon {
  margin-right: 15px;
}

.flags {
  display: block;
  text-align: center;
}

.flag-btn {
  cursor: pointer;
}
