@import url('https://fonts.googleapis.com/css2?family=Rosario&display=swap');
.complete-account {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    background-color: #F8F8F8;
}

.form-box {
    width: 30%;
    min-width: 360px;
    min-height: 55vh;
    vertical-align: middle;
    overflow: auto;
    margin: auto;
    padding: 15px;
    position: relative;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 33px;
}

.header {
    margin: 0 0 15px 0;
    font-family: Rosario;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.form-terms span {
    font-size: 14px;
}

.login-redirect {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
    margin-top: 15px;
}