.form-defs {
  position: fixed;
  width: 350px;
  min-height: 150px;
  left: 50px;
  top: 100px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  z-index: 5;
}

.form-defs-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 75px;
}
